<%- include('partials/header') %>
    <!-- Title -->
    <div class="img-container">
      <img src="https://dunedinstadium.files.wordpress.com/2016/03/rnz-30-3-16-disappearing-newspaper-toby-manhire-and-toby-morris.gif"  height="350" alt="newspaper-img">
    </div>
    <hr>
    <div class="login-signup-btn">
      <a class="btn btn-dark btn-lg login-btn" href="/login" role="button">Login</a>
        <a class="btn btn-dark btn-lg" href="/signup" role="button">SignUp</a>
    </div>
<%- include('partials/footer') %>
